<div class="container">
<mat-toolbar color="primary">
    <div class="container">        
        <span><button mat-button mat-stroked-button color="basic">Close</button> &nbsp; Contact me</span>
        <span class="example-spacer"></span>
    </div>
</mat-toolbar>

    <div class="mb-4">
        

        <div class="">
            <form (submit)="sendMessage(message.value)">
                <textarea rows="7" cols="4" type="text" class="form-control mb-2" placeholder="Write me something..." #message required></textarea>
                <mat-progress-spinner [diameter]="40" mode="indeterminate" *ngIf="loading" />
                <button *ngIf="!loading" type="submit" mat-flat-button color="primary" href="https://github.com/chrisvg-dev" target="_blank"> <mat-icon>mail</mat-icon> Send</button>
            </form>
        </div>
    </div>
    <back-to-list></back-to-list>
</div>