<div class="container">
    <h1>Hello</h1>

    <div class="col-md-3">
        <form action="">
            <div class="card text-left">
              <img class="card-img-top" src="https://malcoded.com/static/4d0670bee74428d1b7fffbf3f984cc98/01922/angular-explore-banner.png" alt="">
              <div class="card-body">
                <h4 class="card-title">User register</h4>
                <p class="card-text">Body</p>
              </div>
            </div>
        </form>
    </div>
</div>
