.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  @media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }

  .dropzone {
    width: 100%; 
    min-height: 200px;
    font-size: 20px;;
    color: gray;
    margin-bottom: 2em;
    padding: 1em;
    cursor: pointer;
    text-align: center;display: flex;
    align-items: center;
    justify-content: center;
  }

  .item-deletion {
    position: absolute; right: 20px; color: red; font-weight: bold; text-decoration: wavy; border: 1px lightgray dashed; padding: 2px 4px 2px 4px;
  }

  .item-deletion:hover {
    background-color: red;
    color: white;;
  }


  .file-item {
    text-decoration: line-through;
  }

  .card {
    display: inline-block;
    width: 200px;
    padding: 5px;
    font-size: 14px;
    background-color: #f3f3f3;
    vertical-align: top;
    text-align: justify;
  }
  
  span {
    display: block;
  }

  .code-style {
    width: 100%;
    font-size: 15px;
  }

  .working {
    display: grid;
    place-items: center;
  }

  .base64Container {
    width: 100%;
    padding: 5px;;
    height: 200px;
    overflow-y: auto;
    border: 1px solid green;
  }