<div class="mt-5 text-center tech-wrapper" style="width: 85%; margin: auto; text-align: center;">
    <h2>My technical skills</h2>

    <p>
        I have worked with this technologies. And I'm still learning how to improve my skills much more.
    </p>

    <div class="row" style="width: 100%; text-align: center;">
        <div class="card hvr-underline-from-left col-md-2 col-sm-5" *ngFor="let skill of teckSkills">
            <img class="card-img-top" src="{{ skill.image }}" alt="Card image cap">
            <div class="level">

            </div>
        </div>
    </div>
</div>