<div class="background">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-md-4">
        <div class="box-part text-center">

          <i class="fa fa-code fa-3x mb-3" aria-hidden="true"></i>

          <div class="title">
            <h4>Backend</h4>
          </div>

          <div class="text">
            <span>Proficient using Java languaje and a few others like NodeJS, PHP and C#. But mainly Java because I enjoy doing a lot of crazy things.</span>
          </div>

          <a href="#">Learn More</a>

        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="box-part text-center">

          <i class="fa fa-tablet fa-3x mb-3" aria-hidden="true"></i>

          <div class="title">
            <h4>Frontend</h4>
          </div>

          <div class="text">
            <span> I enjoy writing code using Javascript and Typescript. The most of the time I use Angular because It has a great structure and is a good choice for large applications.  </span>
          </div>

          <a href="#">Learn More</a>

        </div>
      </div>
      <!--</div>-->

      <div class="col-sm-6 col-md-4">
        <div class="box-part text-center">

          <i class="fa fa-circle-o-notch fa-3x mb-3" aria-hidden="true"></i>

          <div class="title">
            <h4>DevOps</h4>
          </div>

          <div class="text">
            <span> Huge knowledge using CD/CI tools like Jenkins, Azure DevOps and AWS tools for delivery. </span>
          </div>

          <a href="#">Learn More</a>

        </div>
      </div>
      <!--</div>-->

    </div>
  </div>
</div>