.canvas {
    width: auto;
    height: 600x;
    background-color: bisque;
}

.list-group-item {
    cursor: pointer;
}

.certificate {
    text-align: center;
    margin: 0 auto;
    background-color: gray;
}