.card {
    display: inline-block;
    margin-top: 1em;
    padding: 5px;;
}

.poke-container {
    height: 700px;
    overflow-y: auto;
    scrollbar-width: 0;
    display: inline-block;
}

.poke-data {
    padding: 10px;
}