<div class="container col-xxl-12 px-2 py-2">
	<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
		<div class="col-md-12 col-sm-8 col-lg-12">
			<img src="./assets/character.jpg" class="character d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy">
		</div>
		<div class="col-lg-12">
			<h1 class="" style="font-weight: bold; text-align: center;">Welcome</h1>
			<p class="font">
				I'm Cristhian Villegas, I'm from Veracruz. I aim to become a great software developer and be able to meet many people around the world to share my knowledge and culture, but at the same time to know their culture and make their knowledge part of my professional growth. <br><br>

				You are welcome to know about my professional skills, and if you want to share with me some advice, you can use <a routerLink="/my-contact">my contact</a> menu. But you need to know, <i>I'm not graphic designer</i>.

				<br><br>Click on buttons below to check my Github and Linkedin profile
			</p>
			<div class="social-link">
				<a mat-flat-button color="primary" href="https://github.com/chrisvg-dev" target="_blank"> <mat-icon>person</mat-icon> Linkedin</a>
				<a mat-flat-button color="primary" href="https://www.linkedin.com/in/cvillegas-dev/" target="_blank"><mat-icon>code</mat-icon> Github</a>
			</div>
		</div>
	</div>
</div>

<div class="b-example-divider"></div>


<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Java Developer</h1>
            <p>I like writing Java code. It is a powerful typed language. Sometimes it is complicated to understand some concepts, but I like to suffer.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption">
            <h1>Javascript lover</h1>
            <p> I live Javascript. Since I started with this journey, I have been keeping myself updated with solid javascript and typescript basics. </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>DevOps and Cloud Computing passionate</h1>
            <p>These topics have caught my attention, and when I started to study them I realized that it is a world that I have to discover. Thanks to this, I was able to automate everything within this website.</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>