<div class="px-4 py-5 my-5 text-center">
	<img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
	<h1 class="display-5 fw-bold text-body-emphasis">Angular application using Bootstrap</h1>
	<div class="col-lg-6 mx-auto">
		<p class="lead mb-4">
			In the next section you are going to see a lot of angular projects connected to a java and nodejs backend. In the section you will find the repository and some steps in order to run the application in your local machine.
		</p>
	</div>

	<projects></projects>
</div>