<div class="row justify-content-center mt-100 mb-100" style="z-index: 1;">
  <div class="col-md-8">

    <div class="card">
      <ul class="list-style-none" *ngFor="let project of data">
        <a routerLink="{{ project.component }}">
          <li class="d-flex no-block card-body border-top">

            <i class="fa fa-plus w-30px m-t-5"></i>
            <div class="text-justify">
              <a routerLink="{{ project.component }}" class="m-b-0 font-medium p-0" data-abc="true">{{ project.title }}</a>
              <span class="text-muted">{{ project.description }}</span>
            </div>
            <div class="ml-auto">
              <div class="tetx-right">
                <h5 class="text-muted m-b-0">19</h5>
                <span class="text-muted font-16">APR</span>
              </div>
            </div>

          </li>
        </a>
      </ul>
    </div>

  </div>
</div>