.footer {
    width: 100%;
}

.footer button {
    position: relative;
}

.dropzone {
    border: 1px solid gray;
    background-color: rgb(83, 74, 96);
    padding: 10px 10px;
    color: lightgray;
    height: 150px;;
 }