<loader></loader>
<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <mat-icon class="bigger">construction</mat-icon>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="/" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a routerLink="/my-projects" class="nav-link px-2 text-white">| My projects</a></li>
          <li><a routerLink="/" class="nav-link px-2 text-white">| My Contact</a></li>
          <li><a routerLink="/projects/my-courses" class="nav-link px-2 text-white">| My Learning</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search"> </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2" (click)="openLoginDialog()" [hidden]="isLogged">Login</button>
          <button type="button" class="btn btn-outline-light me-2" (click)="logOut()" [hidden]="!isLogged">Logout</button>
        </div>
      </div>
    </div>
  </header>

  <div class="b-example-divider"></div>
